@import "_vars";
@import "_mixins";
@import "_sprite";
@import "_grid";

// Load libs
// @import "";

// Load fonts
// @include font-face("RobotoRegular", "../fonts/RobotoRegular/RobotoRegular", $exts: eot woff ttf);





// Common styles

body {
	position: relative;
	min-width: 320px;
	line-height: 1.6;
	font-family: "OpenSans", sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}





// End load
@import "media";

@import "pages/index";
