@import "_vars";
@import "_fonts";
@import "_sprite";
@import "_grid";

// Load libs
// @import "";





// Common styles

body {
	position: relative;
	min-width: 320px;
	line-height: 1.6;
	font-family: "OpenSans", sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}





// End load
@import "pages/index";

@import "media";
